body {
    background-image: url('imgs/grid2.jpeg');
    font-family: 'Caveat', cursive;
    padding-bottom: 50px;
}
h1{
    font-size: 100px;
    padding-top: 50px;
}

.intro {
    display: flex;
    justify-content: center;
}

.hello {
    display: flex;
    justify-content: center;
    text-align: center;
   
}

p {
    font-size: 30px;
    width: 800px;
    font-weight: 100;
}

h2 {
    font-weight: bolder;
    padding-left: 70px;
    padding-top: 27px;
    font-size: 35px;
}

.p1-im {
    padding-top: 20px;
    display: block;
    text-align: center;

}

.p1-vd {
    display: flex;
    flex-direction: row;
    padding-left:210px;
    padding-top: 40px;
    padding-bottom: 60px;
}
.s1{
    padding-left: 100px;
    padding-top: 150px;
    width: 1200px;
    text-align: center;
}
.p2{
    padding-top: 20px;
    display: block;
    text-align: center;

}
.p2-1{
    padding-top: 30px;
    padding-bottom: 240px;
}
.s2 {
    margin: auto;
}